@import "tailwindcss";

@theme inline {
  /* Brand Colors */
  --color-brand-primary: #0f1822;
  --color-brand-accent: #dda536;

  /* Standard Theme Variables */
  --color-background: #ffffff;
  --color-foreground: #000000;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}